//Widescreens
@include mediaXl{
    
    
    
}

//Desktops & Laptops
@include mediaLg{
    /*
    .projects{
        grid-template-columns: repeat(2,1fr);
    }*/
}

//Tablet & Small Laptops
@include mediaMd{

    h1,
    h2,
    h3{
        &.lg-heading{
            font-size: 1.9rem;
        }
        &.text,&.sm-slogan{
            font-size: 0.7rem;
        }
        &.title{
            font-size: 1rem;
        }
        &.read-btn{
            font-size: 0.7rem;
            padding: 0.1rem 0.5rem;
            width: 9.5rem;
            border: 1.8px solid $primary-color;
            margin-top: 5vh;
            padding: 1rem 3rem;
            width: 12rem;

        }

    
    }
    .home{
        padding: 2rem;
        .content{
            grid-template-areas: 
            'intro1'
            'con1'
            'intro2'
            'con2';
            grid-template-columns: 1fr;
        }
        .card{
            padding: 0rem 0rem;
        }
    }

    .contact {
        .text{
        h4{
            font-size: 1rem;
        }
        p{
            margin-bottom: 7vw;
        }
        }
        .image .word{
            font-size: 1.2rem;
        }
    }

}

//Smartphones

@include mediaSm{
    
}